<script>
	$(function() {
		// Clear the content of the modal once it's dismissed.
		$('#infoModal').on('hidden.bs.modal', function (event) {
			$('#infoModal .modal-body').text('');
		})
	});
</script>
<div class="modal fade" id="infoModal" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>